<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

   <bean id="mqConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
       <constructor-arg name="brokerURL" value="tcp://192.168.92.129:61616"></constructor-arg>
   </bean>

    <bean id="proxyConnectionFactory" class="org.springframework.jms.connection.SingleConnectionFactory">
        <property name="targetConnectionFactory" ref="mqConnectionFactory"></property>
    </bean>

    <bean class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="proxyConnectionFactory"></property>
    </bean>

    <bean class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg name="name" value="item_queue"></constructor-arg>
    </bean>
    <bean id="item_topic" class="org.apache.activemq.command.ActiveMQTopic">
        <constructor-arg name="name" value="item_topic"></constructor-arg>
    </bean>
</beans>